<div class="edit-page-wide">
	<div class="topper"></div>
	<div class="main-content">
		<%= @lead.first_name %> <%= @lead.last_name %>		
	</div>
	<div class="bottom"></div>
</div>



#  id         :integer        
#  first_name :string(255)
#  last_name  :string(255)
#  email      :string(255)
#  phone      :string(255)
#  company    :string(255)
#  website    :string(255)
#  address    :string(255)
#  city       :string(255)
#  state      :string(255)
#  zip_code   :integer
#  message    :text
#  created_at :datetime
#  updated_at :datetime