<div class="content-header">
	<img class="page-header" src="/images/recent-deals-title.jpg"/>
</div>
<script src='https://www.dealcurrent.com/embed?publisherID=232'></script>
<script>embedWidget({widget:'pastdeals',width:580,height:800})</script>


<!-- admin Stuffs -->
<%= render :partial => 'basics/edit_admin_stuff' %>
