<div class="content-header">
	<img class="page-header" src="/images/terms-of-service-title.jpg"/>
</div>
<p><%= @content.content.html_safe %></p>

<!-- admin Stuffs -->
<%= render :partial => 'basics/edit_admin_stuff' %>