#largewidget_232_iframe {
	background:none;
}

#large_top_share {
	background:none !important;
	color:#434343 !important;
}

#large_deal_title {
	font-family:'cafeta';
	font-size:24px;
	text-transform:uppercase;
}