<div class="edit-page-wide">
	<div class="topper"></div>
	<div class="main-content">
		<h2>Editing Customer Details</h2>
		<%= link_to 'Back', customer_details_path, :class => 'full-width-clearer' %>
		<%= render 'form' %>
	</div>
	<div class="bottom"></div>
</div>
