<div class="edit-page">
	<div class="topper"></div>
	<div class="main-content">
		<h2>List of current spreadsheets:</h2>
		<ul>
			<li class="spreadsheet-preview">
				<div class="majority-width">
					<p class="spreadsheet-name semi-bold-item full-width-clearer">Affiliates</p>
				</div>
				<div class="minor-width">
					<%= link_to "View", affiliates_path, :class => "spreadsheet-view-link" %>
				</div>
			</li>
			<li class="spreadsheet-preview">
				<div class="majority-width">
					<p class="spreadsheet-name semi-bold-item full-width-clearer">Customer Detail</p>
				</div>
				<div class="minor-width">
					<%= link_to "View", customer_details_path, :class => "spreadsheet-view-link" %>
				</div>
			</li>
			<li class="spreadsheet-preview">
				<div class="majority-width">
					<p class="spreadsheet-name semi-bold-item full-width-clearer">Customer Summaries</p>
				</div>
				<div class="minor-width">
					<a class="spreadsheet-view-link" href="#">View</a>
				</div>
			</li>
			<li class="spreadsheet-preview">
				<div class="majority-width">
					<p class="spreadsheet-name semi-bold-item full-width-clearer">Deal Details</p>
				</div>
				<div class="minor-width">
					<a class="spreadsheet-view-link" href="#">View</a>
				</div>
			</li>
			<li class="spreadsheet-preview">
				<div class="majority-width">
					<p class="spreadsheet-name semi-bold-item full-width-clearer">Merchant Information</p>
				</div>
				<div class="minor-width">
					<a class="spreadsheet-view-link" href="#">View</a>
				</div>
			</li>
			<li class="spreadsheet-preview">
				<div class="majority-width">
					<p class="spreadsheet-name semi-bold-item full-width-clearer">Promotions</p>
				</div>
				<div class="minor-width">
					<a class="spreadsheet-view-link" href="#">View</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="bottom"></div>	
</div>
