<img src="/images/sidebar-signup-title.jpg"/>
<form class="sidebar-form">
	<label>Email</label>
	<input value="" name="email" type="text"></input>
	<label>ZIP</label>
	<input value="" name="ZIP" type="text"></input>
	<input class="submit-btn" value="Let's do this!" name="submit" type="submit"></input>
</form>